# ==========================================================
# NODE MODULES & BUILDS
# ==========================================================
node_modules/
dist/
build/
out/
coverage/
*.log

# Typescript
*.tsbuildinfo

# Package managers
.pnpm-store/
.pnpm-debug.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*

# ==========================================================
# ENV & CONFIG
# ==========================================================
.env
.env.*
*.env

# ==========================================================
# OS / EDITOR
# ==========================================================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace

# ==========================================================
# GENERATED
# ==========================================================
tmp/
temp/
.cache/


# ==========================================================
# TEMPORARY IGNORES (not implemented yet)
# ==========================================================
.husky
.ws
